* {
  font-family: "Poppins", sans-serif;
}

#navbar {
  background-color: transparent;
  transition: background-color 0.5s;
}

#navbar a {
  color: white;
}

#navbar.navbar-scroll {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

#navbar.navbar-scroll a {
  color: black;
}

.header {
  height: 100vh;
  background: url("/assets/images/header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 70px;
  font-weight: bolder;
}

.header hr {
  border-width: 2px;
  border-color: white;
}

.img-sejarah {
  width: 50vw;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.zoom-image {
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Warna latar belakang overlay (gelap) */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-overlay p {
  color: #fff; /* Warna teks pada overlay */
  text-align: center;
}

.image-container:hover .zoom-image {
  filter: brightness(70%); /* Gambar menjadi sedikit gelap saat dihover */
  transform: scale(1.1); /* Efek zoom saat dihover (dalam contoh ini, gambar akan diperbesar 10%) */
}

.image-container:hover .image-overlay {
  opacity: 1; /* Overlay muncul saat dihover */
}

@media (max-width: 994px) {
  .header {
    height: 40vh;
    width: 100vw;
  }
}
