* {
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  color: white;
  background-color: transparent;
  transition: background-color 0.5s;
}

#navbar div {
  color: white;
}

#navbar.navbar-scroll div {
  color: black;
}

#navbar.navbar-scroll {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

#navbar a {
  border-radius: 5px;
}

#navbar a:hover {
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
  color: white;
}

#navbar a {
  color: white;
}

#navbar.navbar-scroll {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

#navbar.navbar-scroll a {
  color: black;
}
#navbar.navbar-scroll a:hover {
  color: white;
}

.header {
  height: 100vh;
  background: url("/assets/images/header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 70px;
  font-weight: bolder;
}

.header hr {
  border-width: 2px;
  border-color: white;
}

.img-sejarah {
  width: 50vw;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.zoom-image {
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-overlay p {
  color: #fff;
  text-align: center;
}

.image-container:hover .zoom-image {
  filter: brightness(70%);
  transform: scale(1.1);
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.col-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

#relief p{
  font-size: 14px;
}

@media (max-width: 994px) {
  .header {
    height: 40vh;
    width: 100vw;
  }
}
